@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  scroll-behavior: smooth;
  color: rgb(var(--foreground-rgb));


}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
